<div class="menu">
  <div class="left">Freedom Board</div>
  <div>
    <label *ngIf="currentUser"
      >You're logged in as <strong>{{ currentUser.displayName }}</strong></label
    >
    <button (click)="logIn()">{{ isLoggedIn ? 'Log Out' : 'Log In' }}</button>
  </div>
</div>
<div class="board">
  <div>
    <textarea
      [(ngModel)]="message"
      class="newPoster"
      *ngIf="isLoggedIn"
      (keypress)="addCard($event)"
      placeholder="Post Here"
    ></textarea>
  </div>
  <ng-container *ngIf="posters | async as posts">
    <div
      class="card"
      *ngFor="let post of posts"
      [ngStyle]="{ background: post.color }"
    >
      <div class="owner">
        {{ post.owner }}
      </div>
      <div class="message">
        {{ post.message }}
      </div>
    </div>
  </ng-container>
</div>
